In [1]:
import pandas as pd
import numpy as np
import datetime

In [2]:
vdf = pd.read_csv('fruitvegprices-2017_2022.csv')

In [3]:
vdf

         category           item            variety        date  price  unit
0           fruit         apples  bramleys_seedling  2022-03-11   2.05    kg
1           fruit         apples  coxs_orange_group  2022-03-11   1.22    kg
2           fruit         apples    egremont_russet  2022-03-11   1.14    kg
3           fruit         apples           braeburn  2022-03-11   1.05    kg
4           fruit         apples               gala  2022-03-11   1.03    kg
...           ...            ...                ...         ...    ...   ...
9642  cut_flowers    alstromeria             indoor  2017-11-03   0.27  stem
9643  cut_flowers  chrysanthemum       indoor_spray  2017-11-03   0.22  stem
9644  cut_flowers        lillies           oriental  2017-11-03   0.70  stem
9645  cut_flowers      narcissus             indoor  2017-11-03   0.06  stem
9646   pot_plants       cyclamen              13_cm  2017-11-03   0.75  unit

[9647 rows x 6 columns]

## Ejercicios

### Ejercicio uno: realice un analisis de valores nulos

En caso de existir valores nulos elimine esos registros

In [4]:
   for c_ in vdf.columns:
    print(c_)
    print(np.sum(vdf[c_].isna()))
    print(" ")

category
0

item
0

variety
0

date
0

price
0

unit
0

***COMO NO TENEMOS VALORES NULOS SOLO DEJAMOS EL REPORTE***

### Ejercicio dos: Por categoria, cuantos distintos items hay y cuantos distintos variety hay?

El resultado debe de tener el siguiente formato de presentacion:

In [5]:
pd.DataFrame({
    "category" : ['cut_flowers','fruit']
    , "item_count" : [9,10]
    , "variety_Count" : [10,21]
})

      category  item_count  variety_Count
0  cut_flowers           9             10
1        fruit          10             21

Como nota en un mismo dataframe mostramos todo lo solicitado, usted debe de mostrar todas las categorias

***HAGO EL CONTEO DE CUANTOS DISTINTOS ITEMS HAY PARA CADA CATEGORIA***

In [6]:
vdf1=vdf.loc[:,["category","item"]]

In [7]:
vdf1=vdf1.drop_duplicates()

In [8]:
vdf1=vdf1.groupby("category",as_index=False).count()

***HAGO EL CONTEO DE CUANTOS DISTINTOS VARIETY HAY POR CATEGORIA***

In [9]:
vdf2=vdf.loc[:,["category","variety"]]

In [10]:
vdf2=vdf2.drop_duplicates()

In [11]:
vdf2=vdf2.groupby("category",as_index=False).count()

***UNO AMBOS RESULTADOS EN UN SOLO DATAFRAME Y CORRIJO EL NOMBRE DE LAS COLUMNAS***

In [12]:
vdf1["variety_count"]=vdf2.loc[:,"variety"]

In [13]:
vdf1.columns=["category","item_count","variety_Count"]

In [14]:
vdf1

      category  item_count  variety_Count
0  cut_flowers           9              9
1        fruit          10             21
2   pot_plants           3              2
3    vegetable          32             49

### Ejercicio tres: Para la combinacion item, variety muestre el ultimo valor registrado por aÃ±o.

Ejemplo de como debe de mostrar su respuesta

In [15]:
pd.DataFrame({
    "item" : ['Manzana']
    , "variety" : ['Gala']
    , "year" : [2022]
    , "last_price" :  [3.2]
})

      item variety  year  last_price
0  Manzana    Gala  2022         3.2

In [16]:
vdf3=vdf

In [17]:
vdf3.columns

Index(['category', 'item', 'variety', 'date', 'price', 'unit'], dtype='object')

In [18]:
vdf3=vdf3.loc[:,['item', 'variety', 'date', 'price']]

***AGRUPAMOS Y OBTENEMOS LA ULTIMA FECHA ENCONTRADA EN NUESTRO DATA FRAME***

In [19]:
vdf4=vdf3.groupby(["item","variety"],as_index=False).agg({"date":"max","price":"max"})

***CREAMOS UNA NUEVA COLUMNA ENLA CUAL ALMACENAREMOS SOLO EL AÃ‘O***

In [20]:
vdf4['anio']=pd.to_datetime(vdf4['date'].values)

In [21]:
vdf4['anio']=vdf4['anio'].dt.year

In [22]:
vdf4.columns

Index(['item', 'variety', 'date', 'price', 'anio'], dtype='object')

***RENOMBRAMOS LAS COLUMNAS PARA COINCIDIR CON EL EJEMPLO***

In [23]:
vdf4.columns=['item', 'variety', 'date', 'last_price', 'anio']

***OBTENEMOS NUESTRO RESULTADO***

In [24]:
vdf4.loc[:,['item','variety','anio','last_price']]

           item            variety  anio  last_price
0   alstromeria             indoor  2018        0.34
1        apples           braeburn  2022        1.25
2        apples  bramleys_seedling  2022        2.75
3        apples  coxs_orange_group  2022        1.54
4        apples    egremont_russet  2022        1.71
..          ...                ...   ...         ...
80     tomatoes              round  2021        1.67
81     tomatoes               vine  2021        4.45
82       tulips             tulips  2022        0.30
83       turnip             turnip  2022        2.10
84   watercress       pillow_packs  2019       12.68

[85 rows x 4 columns]

### Ejercicio cuatro: Segun el ejercicio tres, que tanto aumento o disminuyo el precio de cada item-variety 

Ejemplo de como se debe de mostrar su respuesta

In [25]:
pd.DataFrame({
    "item" : ['Manzana','Manzana','Manzana']
    , "variety" : ['Gala','Gala','Gala']
    , "year" : [2020,2021,2022]
    , "last_price" :  [2.7,2.5,3.2]
    , "delta" : [0, (2.5-2.7), (3.2-2.5)]
})

      item variety  year  last_price  delta
0  Manzana    Gala  2020         2.7    0.0
1  Manzana    Gala  2021         2.5   -0.2
2  Manzana    Gala  2022         3.2    0.7

Segun nuestro ejemplo dummy para 2021 estuvo 0.2 centavos mas barato y en 2022 estuvo 0.7 centavos caro

***AGRUPAMOS Y OBTENEMOS LA PRIMERA FECHA ENCONTRADA EN NUESTRO DATA FRAME***

In [26]:
vdf5=vdf3.groupby(["item","variety"],as_index=False).agg({"date":"min","price":"min"})

In [27]:
vdf5

           item            variety        date  price
0   alstromeria             indoor  2017-11-03   0.23
1        apples           braeburn  2017-11-03   0.50
2        apples  bramleys_seedling  2017-11-03   0.67
3        apples  coxs_orange_group  2017-11-03   0.61
4        apples    egremont_russet  2017-11-03   0.78
..          ...                ...         ...    ...
80     tomatoes              round  2017-11-03   0.45
81     tomatoes               vine  2017-11-03   0.71
82       tulips             tulips  2017-12-15   0.11
83       turnip             turnip  2017-11-03   0.55
84   watercress       pillow_packs  2017-11-03   6.55

[85 rows x 4 columns]

***RENOMBRAMOS LAS COLUMNAS PARA IDENTIFICAR NUESTRO PRIMER PRECIO***

In [28]:
vdf5.columns=['item', 'variety', 'date', 'first_price']

***CALCULAMOS LA DIFERENCIA DE PRECIOS DESDE LA PRIMERA FECHA CON LA ULTIMA***

In [29]:
vdf4['delta']=vdf4['last_price'].values-vdf5['first_price'].values

In [30]:
vdf4

           item            variety        date  last_price  anio  delta
0   alstromeria             indoor  2018-12-21        0.34  2018   0.11
1        apples           braeburn  2022-03-11        1.25  2022   0.75
2        apples  bramleys_seedling  2022-03-11        2.75  2022   2.08
3        apples  coxs_orange_group  2022-03-11        1.54  2022   0.93
4        apples    egremont_russet  2022-03-11        1.71  2022   0.93
..          ...                ...         ...         ...   ...    ...
80     tomatoes              round  2021-11-19        1.67  2021   1.22
81     tomatoes               vine  2021-12-17        4.45  2021   3.74
82       tulips             tulips  2022-03-11        0.30  2022   0.19
83       turnip             turnip  2022-03-11        2.10  2022   1.55
84   watercress       pillow_packs  2019-08-30       12.68  2019   6.13

[85 rows x 6 columns]

### Ejercicio cinco: Cual es precio promedio por item, variety

Ejemplo de como se debe de mostrar su respuesta

In [31]:
pd.DataFrame({
    "item" : ['Manzana']
    , "variety" : ['Gala']
    , "year-month" : ['2021-01']   
    , "avg-price" : [0.5]
})

      item variety year-month  avg-price
0  Manzana    Gala    2021-01        0.5

In [32]:
vdf6=vdf

***EXTRAEMOS SOLO EL MES Y AÃ‘O DE NUESTRA FECHA***

In [33]:
vdf6['date']=pd.to_datetime(vdf6['date'].values)

In [34]:
vdf6['anio-mes']=vdf6['date'].dt.strftime('%Y %m')

***AGRUPAMOS Y OBTENEMOS NUESTRO PROMEDIO DEL PRECIO POR MES Y AÃ‘O***

In [35]:
vdf6=vdf6.groupby(["item","variety","anio-mes"],as_index=False).agg({"price":"mean"}).drop_duplicates()

In [36]:
vdf6.columns

Index(['item', 'variety', 'anio-mes', 'price'], dtype='object')

In [37]:
vdf6.columns=['item', 'variety', 'anio-mes', 'avg-price']

In [38]:
vdf6

             item       variety anio-mes  avg-price
0     alstromeria        indoor  2017 11     0.2700
1     alstromeria        indoor  2017 12     0.2800
2     alstromeria        indoor  2018 01     0.3100
3     alstromeria        indoor  2018 02     0.3275
4     alstromeria        indoor  2018 03     0.3040
...           ...           ...      ...        ...
2580   watercress  pillow_packs  2019 04     9.4750
2581   watercress  pillow_packs  2019 05     9.5000
2582   watercress  pillow_packs  2019 06     9.4900
2583   watercress  pillow_packs  2019 07     9.4975
2584   watercress  pillow_packs  2019 08     9.9640

[2585 rows x 4 columns]

### Ejercicio seis: muestre por category,item,variety que tanto % ha aumentado su precio

Ejemplo: si para las manzanas gala el primer precio que se registro fue 2.00 y el ultimo precio que se registro es 4.00 este aumento un 100%

In [39]:
pd.DataFrame({
    "category": ["fruta","fruta"]
    ,"item" : ['Manzana','Manzana']
    , "variety" : ['Gala','egremont_russet']
    , "percentage-change-between-first-and-last-price" : [200,150]       
})

,category,item,variety,percentage-change-between-first-and-last-price
0,fruta,Manzana,Gala,200
1,fruta,Manzana,egremont_russet,150

***SELECCIONAMOS LOS PRECIOS MAS ACTUALES***

In [46]:
precio_maximo=vdf.groupby(["category","item","variety"],as_index=False).agg({"date":"max","price":"max"})

***SELECCIONAMOS LOS PRECIOS MAS ANTIGUOS***

In [48]:
precio_minimo=vdf.groupby(["category","item","variety"],as_index=False).agg({"date":"min","price":"min"})

***OBTENEMOS SOLO LOS VALORES CON LOS QUE TRABAJAREMOS***

In [49]:
pasado=precio_minimo.loc[:,"price"].values

In [50]:
presente=precio_maximo.loc[:,"price"].values

***USAMOS LA FORMULA DE (PRESENTE-PASADO)/(PASADO)= PORCENTAJE DE INCREMENTO Y LA ASIGNAMOS A UNA NUEVA COLUMNA***

In [58]:
precio_maximo["percentage-change-between-first-and-last-price"]=((presente)-(pasado))/(pasado)*100

In [59]:
precio_maximo

,category,item,variety,date,price,percentage-change-between-first-and-last-price
0,cut_flowers,alstromeria,indoor,2018-12-21,0.34,47.826087
1,cut_flowers,chrysanthemum,indoor_spray,2018-11-30,0.25,47.058824
2,cut_flowers,gladioli,all_varieties,2021-11-05,0.33,230.000000
3,cut_flowers,lillies,oriental,2018-12-21,0.99,98.000000
4,cut_flowers,narcissus,indoor,2018-12-21,0.09,125.000000
...,...,...,...,...,...,...
80,vegetable,tomatoes,plum,2021-08-27,4.50,718.181818
81,vegetable,tomatoes,round,2021-11-19,1.67,271.111111
82,vegetable,tomatoes,vine,2021-12-17,4.45,526.760563
83,vegetable,turnip,turnip,2022-03-11,2.10,281.818182
84,vegetable,watercress,pillow_packs,2019-08-30,12.68,93.587786

In [65]:
precio_maximo.columns

Index(['category', 'item', 'variety', 'date', 'price',
       'percentage-change-between-first-and-last-price'],
      dtype='object')

### Ejercicio siete: Segun el ejercicio seis por category cual es el item,variety con mayor aumento de crecimiento 

Segun el ejemplo dummy que se utilizo en el ejercicio seis para la category fruta se mostraria la manzana gala unicamente

In [113]:
maximo_incremento=precio_maximo.max()

In [114]:
maximo_incremento=maximo_incremento.to_frame(name='Item_variety_por_categoria_con_mayor_incremento')

In [115]:
maximo_incremento

                                               Item_variety_por_categoria_con_mayor_incremento
category                                                                             vegetable
item                                                                                watercress
variety                                                                           yelloworange
date                                                                       2022-03-11 00:00:00
price                                                                                     17.6
percentage-change-between-first-and-last-price                                           974.0

***COMPROBAMOS QUE NO EXISTA UNO MAYOR AL ENCONTRADO***

In [116]:
precio_maximo.loc[precio_maximo['percentage-change-between-first-and-last-price']>974]

Empty DataFrame
Columns: [category, item, variety, date, price, percentage-change-between-first-and-last-price]
Index: []